body{
    font-family : Arial, Helvetica, sans-serif;
    margin : 0;
    padding : 0;
    display : flex;
    justify-content : center;
    align-items: center;
    height : 100vh;
    background-color : rgba(85, 255, 150, 0.333)

}
.form{
    width: 100%;
    max-width: 400px;
    text-align: center; /* Center text within the form */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
}
header {
    margin-bottom: 20px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left; /* Align form text to the left */
}

/* Label Styles */
label {
    font-weight: bold;
}

/* Input Styles */
input[type="text"],
input[type="password"] {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button Styles */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    align-self: center; /* Center the button within the form */
}

/* Button Hover Effect */
button:hover {
    background-color: #0056b3;
}